{% extends "bspage.html" %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/slick/slick.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/slick/slick-theme.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/slick-lightbox/slick-lightbox.min.css') }}"/>
{% endblock %}

{% block content %}

<section id="portfolio-item" style="padding-top:6rem;">
	<div class="container">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8" align="center">
				<h1>{{ portfolio_item.title }}</h1>
				<p>{{ portfolio_item.subtitle }}</p>

				{% if portfolio_item.links|length > 0 %}
				  <div class="row">
						{% for link_name, link_url in portfolio_item.links.items() %}
						<div class="col-lg-6 col-md-12 text-center">
							<a class="btn" href="{{ link_url }}">
								{{ link_name }}
							</a>
			      </div>
						{% endfor %}
					</div>
				{% endif %}

				<p align="justify">{{ portfolio_item.content|safe }}</p>

				{% if portfolio_item.images|length > 0 %}
					<div class="images">
					  <div class="row">
					  	{% for image in portfolio_item.get_images_for_jinja() %}
						    <div class="col-lg-6 col-md-12 text-center">
		  			    	<div class="service-box mt-5 mx-auto">
					      		<a href="{{url_for('static', filename=image) }}" target="_blank">
											<img src="{{url_for('static', filename=image) }}" class="gallery-img"/>
										</a>
				     			</div>
				    		</div>
				  		{% endfor %}
					  </div>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
</section>

{% endblock %}

{% block scriptsbottom %}
<script type="text/javascript" src="{{url_for('static', filename='vendor/slick/slick.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/slick-lightbox/slick-lightbox.min.js') }}"></script>
<script>
	$('.images').slickLightbox({ useHistoryApi: 'true' });
</script>
{% endblock %}
